/*jquery ui */
.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0.2em;
    position: absolute;
    top: 0;
    z-index: 80000;
}
#geo_popup{
        border-radius: 10px;
        border:1px solid black !important;
        background-color:blue;
        color: black;

}
div.olControlEditingToolbar{
        top:60px;
        right:auto;
        left: 8px;
}
div.olControlZoom{
     top: auto;
     bottom: 8px;
 }
 .olControlTextButtonPanel.topLeftPanel {           
     top: 8px;
     right: auto;
     left: 8px;
 }

 .olControlTextButtonPanel.BottomRightPanel { 
     background: #858585;
     top: 8px;
     bottom: auto;
     left: 8px;
     right: auto;
 }

 .olControlTextButtonPanel.vButtonPanel { 
     top: 8px;
     left: auto;
     right: 8px;
 }

 .olControlPanel.vectorPanel { 
  top: 8px;
  left: auto;
  right: 8px;
}

.button1ItemInactive,
.button1ItemActive{
    margin:0 0 0 0;
    width:120px;
    height:40px;
    text-align:left;
}

.button1ItemInactive:after,
.button1ItemActive:after {
    content: url('img/menu.png');
    float:right;
}

.button2ItemInactive,
.button2ItemActive{
    margin:0 0 0 0;
    width:120px;
    height:40px;
    text-align:left;
}
.button2ItemInactive:after,
.button2ItemActive:after {
    content: "Settings";
}

.button3ItemInactive:after,
.button3ItemActive:after {          
    content:url('img/task_empty.png');
}

.button4ItemInactive:after,
.button4ItemActive:after {            
    content:url('img/update.png');
}

.button5ItemInactive:after,
.button5ItemActive:after {
    content:url('img/task_empty.png');
}

.userButtonItemInactive,
.userButtonItemActive{
    margin:0 0 0 0;
    width:120px;
    height:40px;
    text-align:left;
}
.userButtonItemInactive:after,
.userButtonItemActive:after {
    content:"UserName " url('img/user.png');
}

.layersButtonItemInactive:after,
.layersButtonItemActive:after {
    content:"Layers";
}	

.drawMoveButtonItemInactive:after,
.drawMoveButtonItemActive:after {
    content:"stop";
}
.drawPolygonAreaOneItemInactive:after,
.drawPolygonAreaOneItemActive:after {
    content:url('img/area.png');
}
.drawPointPersonItemInactive:after,
.drawPointPersonItemActive:after {
    content:url('img/personer.png');
}
.drawPointVehicleItemInactive:after,
.drawPointVehicleItemActive:after {
    content:url('img/fordon.png');
}
.drawPointAssetItemInactive:after,
.drawPointAssetItemActive:after {
    content:url('img/asset.png');
}
